@page
@model azure_app_navid.Pages.DeploymentSlotsModel
@{
        ViewData["Title"] = "Deployment Slots";
}

<h1>@ViewData["Title"]</h1>

<p>Manage your deployment slots here.</p>
<h3>Validating the deployment slot</h3>
